/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/
/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 10, ../../app/assets/stylesheets/home.css.scss */
body {
  background-image: url("/assets/background.png");
  font-family: "Helvetica", sans-serif;
}

/* line 15, ../../app/assets/stylesheets/home.css.scss */
#header {
  overflow: hidden;
  *zoom: 1;
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* line 20, ../../app/assets/stylesheets/home.css.scss */
#tagline {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  text-shadow: white 0 1px 0;
  margin-top: 30px;
  margin-bottom: 40px;
  color: rgba(0, 0, 0, 0.8);
}
/* line 28, ../../app/assets/stylesheets/home.css.scss */
#tagline p {
  margin: .5em 0;
}

/* line 33, ../../app/assets/stylesheets/home.css.scss */
#problems {
  padding: 40px 20px;
  text-align: center;
  background-color: #FFF;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
/* line 38, ../../app/assets/stylesheets/home.css.scss */
#problems .problem {
  position: relative;
  background-color: #FFF;
  margin-right: 20px;
  height: 200px;
  text-align: center;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 20px;
  background-color: #FFF;
  vertical-align: top;
}
/* line 43, ../../app/assets/stylesheets/home.css.scss */
#problems .problem h2 {
  margin-bottom: 20px;
  font-size: 20px;
  letter-spacing: -0.5px;
}
/* line 7, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#problems .problem {
  *display: inline;
}
/* line 53, ../../app/assets/stylesheets/home.css.scss */
#problems .problem:last-child {
  margin-right: 0;
}

/* line 59, ../../app/assets/stylesheets/home.css.scss */
.learn_more {
  margin-top: 20px;
  position: absolute;
  bottom: 30px;
  left: 90px;
}

/* line 66, ../../app/assets/stylesheets/home.css.scss */
.button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #5e9a00;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #74be00), color-stop(100%, #5e9a00));
  background: -webkit-linear-gradient(#74be00, #5e9a00);
  background: -moz-linear-gradient(#74be00, #5e9a00);
  background: -o-linear-gradient(#74be00, #5e9a00);
  background: linear-gradient(#74be00, #5e9a00);
  padding: 8px 12px;
  font-weight: bold;
  color: #203400;
  text-shadow: rgba(255, 255, 255, 0.4) 0 1px 1px;
  text-decoration: none;
  -moz-box-shadow: inset 0 0 1px white;
  -webkit-box-shadow: inset 0 0 1px white;
  -o-box-shadow: inset 0 0 1px white;
  box-shadow: inset 0 0 1px white;
}
/* line 76, ../../app/assets/stylesheets/home.css.scss */
.button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #84d800), color-stop(100%, #6eb300));
  background: -webkit-linear-gradient(#84d800, #6eb300);
  background: -moz-linear-gradient(#84d800, #6eb300);
  background: -o-linear-gradient(#84d800, #6eb300);
  background: linear-gradient(#84d800, #6eb300);
}
