/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/
/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 10, ../../app/assets/stylesheets/home.css.scss */
body {
  font-family: "Helvetica", sans-serif;
  background-image: url(/assets/noise.png);
  text-shadow: white 0 1px 0;
}

/* line 16, ../../app/assets/stylesheets/home.css.scss */
#header {
  width: 960px;
  padding: 10px 0;
  margin: auto;
}

/* line 22, ../../app/assets/stylesheets/home.css.scss */
#tagline {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin: 30px 0;
}

/* line 29, ../../app/assets/stylesheets/home.css.scss */
.wrapper {
  overflow: hidden;
  *zoom: 1;
}

/* line 33, ../../app/assets/stylesheets/home.css.scss */
#header_wrapper {
  -moz-box-shadow: 0 2px 2px #dddddd;
  -webkit-box-shadow: 0 2px 2px #dddddd;
  -o-box-shadow: 0 2px 2px #dddddd;
  box-shadow: 0 2px 2px #dddddd;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #518dbb), color-stop(100%, #4480ae));
  background: -webkit-linear-gradient(#518dbb, #4480ae);
  background: -moz-linear-gradient(#518dbb, #4480ae);
  background: -o-linear-gradient(#518dbb, #4480ae);
  background: linear-gradient(#518dbb, #4480ae);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* line 42, ../../app/assets/stylesheets/home.css.scss */
#content_wrapper {
  margin-top: 100px;
}

/* line 46, ../../app/assets/stylesheets/home.css.scss */
.container {
  width: 960px;
  margin: auto;
  min-height: 800px;
}

/* line 52, ../../app/assets/stylesheets/home.css.scss */
p {
  font-size: 18px;
  margin: 40px 0;
}

/* line 57, ../../app/assets/stylesheets/home.css.scss */
.center {
  text-align: center;
}

/* line 61, ../../app/assets/stylesheets/home.css.scss */
#beta_signup {
  width: 600px;
  margin-top: 20px;
  margin: auto;
}
/* line 65, ../../app/assets/stylesheets/home.css.scss */
#beta_signup h2 {
  font-size: 20px;
  line-height: 1.5em;
  font-weight: bold;
  margin: 1em 0;
}
/* line 71, ../../app/assets/stylesheets/home.css.scss */
#beta_signup p.cta {
  text-align: center;
  margin: 40px 0;
}
/* line 75, ../../app/assets/stylesheets/home.css.scss */
#beta_signup p {
  line-height: 1.5em;
  margin: 1em 0;
  color: #444;
}
/* line 79, ../../app/assets/stylesheets/home.css.scss */
#beta_signup p em {
  color: #000;
  font-weight: 600;
}

/* line 86, ../../app/assets/stylesheets/home.css.scss */
#product {
  margin-top: 200px;
  margin-bottom: 100px;
}
/* line 89, ../../app/assets/stylesheets/home.css.scss */
#product h2 {
  font-size: 40px;
  color: #666;
  text-shadow: #222222 0 -1px 1px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
/* line 98, ../../app/assets/stylesheets/home.css.scss */
#product .benefits {
  background-color: #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #eee;
}
/* line 104, ../../app/assets/stylesheets/home.css.scss */
#product .benefit {
  text-align: center;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: top;
  margin-right: 20px;
  margin-top: 20px;
  width: 280px;
}
/* line 106, ../../app/assets/stylesheets/home.css.scss */
#product .benefit h3 {
  font-weight: bold;
  height: 40px;
  font-size: 18px;
  margin-bottom: 20px;
}
/* line 7, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#product .benefit {
  *display: inline;
}
/* line 117, ../../app/assets/stylesheets/home.css.scss */
#product .benefit p {
  margin: 1em 0;
  text-align: left;
  line-height: 1.4em;
  font-size: 15px;
  color: #222;
}
/* line 124, ../../app/assets/stylesheets/home.css.scss */
#product .benefit:first-child {
  margin-left: 20px;
}

/* line 130, ../../app/assets/stylesheets/home.css.scss */
#accordion {
  text-align: center;
  margin-bottom: 10px;
}
/* line 132, ../../app/assets/stylesheets/home.css.scss */
#accordion .problem {
  background-color: #FFF;
  width: 400px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  border: 1px solid #ddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-right: 30px;
  height: 300px;
  position: relative;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}
/* line 7, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#accordion .problem {
  *display: inline;
}
/* line 139, ../../app/assets/stylesheets/home.css.scss */
#accordion .problem:last-child, #accordion .problem .last {
  margin-right: 0;
}
/* line 147, ../../app/assets/stylesheets/home.css.scss */
#accordion h2 {
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 100px;
  line-height: 1.5em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #e0e0e0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: -moz-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: -o-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: linear-gradient(top, #f0f0f0, #e0e0e0);
}
/* line 155, ../../app/assets/stylesheets/home.css.scss */
#accordion h2 a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #333;
  text-shadow: white 0 1px 0;
}
/* line 162, ../../app/assets/stylesheets/home.css.scss */
#accordion h2:last-child {
  border-bottom: 0;
}
/* line 165, ../../app/assets/stylesheets/home.css.scss */
#accordion h2.active {
  background: none;
  font-size: 18px;
  border-bottom: 1px solid #d1e1ed;
}
/* line 166, ../../app/assets/stylesheets/home.css.scss */
#accordion h2.active a {
  color: #000;
}
/* line 172, ../../app/assets/stylesheets/home.css.scss */
#accordion h2.active:last-child {
  border: 0;
}
/* line 176, ../../app/assets/stylesheets/home.css.scss */
#accordion h2.active:hover a {
  color: #000;
}
/* line 182, ../../app/assets/stylesheets/home.css.scss */
#accordion h2:hover a {
  color: #518dbb;
}
/* line 189, ../../app/assets/stylesheets/home.css.scss */
#accordion .element {
  padding: 10px;
  text-align: center;
}

/* line 195, ../../app/assets/stylesheets/home.css.scss */
.learn_more {
  position: absolute;
  bottom: 30px;
  left: 90px;
}

/* line 201, ../../app/assets/stylesheets/home.css.scss */
p.center {
  text-align: center;
}

/* line 205, ../../app/assets/stylesheets/home.css.scss */
#to_product {
  margin-top: 60px;
  font-size: 20px;
}

/* line 210, ../../app/assets/stylesheets/home.css.scss */
#to_product .button {
  margin-left: 20px;
}

/* line 214, ../../app/assets/stylesheets/home.css.scss */
.button {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #d37700;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffa93a), color-stop(100%, #ec8500));
  background: -webkit-linear-gradient(#ffa93a, #ec8500);
  background: -moz-linear-gradient(#ffa93a, #ec8500);
  background: -o-linear-gradient(#ffa93a, #ec8500);
  background: linear-gradient(#ffa93a, #ec8500);
  padding: 8px 14px;
  font-weight: bold;
  color: #010100;
  text-shadow: rgba(255, 255, 255, 0.4) 0 1px 1px;
  text-decoration: none;
  -moz-box-shadow: inset 0 0 1px white;
  -webkit-box-shadow: inset 0 0 1px white;
  -o-box-shadow: inset 0 0 1px white;
  box-shadow: inset 0 0 1px white;
}
/* line 224, ../../app/assets/stylesheets/home.css.scss */
.button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffb453), color-stop(100%, #ff9306));
  background: -webkit-linear-gradient(#ffb453, #ff9306);
  background: -moz-linear-gradient(#ffb453, #ff9306);
  background: -o-linear-gradient(#ffb453, #ff9306);
  background: linear-gradient(#ffb453, #ff9306);
}
/* line 227, ../../app/assets/stylesheets/home.css.scss */
.button.large {
  font-size: 22px;
}
