#content_wrapper.wrapper.first

  .container
  
    %div#tagline
      %h1 Showcase and sell your Wordpress templates
      
      %h2 
        Create 
        %span exposure 
        for your templates. 
        %span Engage
        with your customers.

#product.container
  .benefits
    .benefit
      = image_tag "screenshot_landing_page.png"
      
      %h3 Easily showcase your work
      
      %p 
        Create beautiful and converting landing pages for your WordPress templates.
      
      %p Kioskfolio will be constantly tweaking and testing for the best results.
    
    .benefit
      = image_tag "question_mark.png"
      
      %h3 Build brand and promote yourself
      
      %p Have your customers share your template by rewarding them with a discount when they share.
      
      %p Kioskfolio will let your buyers spread the word for you.
    
    .benefit
      = image_tag "question_mark.png"
      
      %h3 Engage with your customers
      
      %p 
        A seamless buying experience for your customers. Awesome after-sale support for a bonding experience.
        
      %p
        Kioskfolio does not work with credits or virtual money. You get payed cash, right away to your PayPal account.
  
  %p.center
    We are looking for WordPress designers that are interested. Please get in touch!
    
  :erb
    <div id="fb-root"></div>
    
  %p.center
    :erb
      <script src="http://connect.facebook.net/en_US/all.js#appId=258907460805006&amp;xfbml=1"></script><fb:like href="http://www.kioskfolio.com" send="false" layout="button_count" width="100" show_faces="true" action="like" font="lucida grande"></fb:like>
      <a href="http://twitter.com/kioskfolio" class="twitter-follow-button">Follow @kioskfolio</a>
      <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>