#content_wrapper.wrapper.first

  .container
  
    %div#tagline
      %h1 Make money with your Wordpress templates
      
      %h2 
        Create 
        %span exposure 
        for your templates. 
        Make them
        %span spread
        and 
        %span sell
        them.

#product.container
  .benefits
    .benefit
      = image_tag "screenshot_landing_page.png"
      
      %h3 Set up converting landing pages
      
      %p 
        Create beautiful and converting landing pages for your WordPress templates that you are currently selling on ThemeForest.
      
      %p Kioskfolio will be constantly tweaking and testing for the best results.
    
    .benefit
      = image_tag "question_mark.png"
      
      %h3 Drive customers to your template
      
      %p Have your customers share your template by rewarding them with a discount when they share.
      
      %p Kioskfolio will let your buyers spread the word for you.
    
    .benefit
      = image_tag "question_mark.png"
      
      %h3 Get your money right away
      
      %p 
        Let customers buy and download your template. We provide file hosting and the payment process.
        
      %p
        Kioskfolio does not work with credits or virtual money. You get payed cash, right away to your PayPal account.
  
  %p.center
    %strong Already a ThemeForest user? 
    Tweet this to get an account or like us on Facebook.
    
  :erb
    <div id="fb-root"></div>
    
  %p.center
    :erb
      <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.kioskfolio.com" data-text="Kioskfolio is a new way of earning money with your WordPress templates. Get early access." data-count="horizontal" data-related="kioskfolio">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    :erb
      <script src="http://connect.facebook.net/en_US/all.js#appId=258907460805006&amp;xfbml=1"></script><fb:like href="http://www.kioskfolio.com" send="false" layout="button_count" width="100" show_faces="true" action="like" font="lucida grande"></fb:like>