.container
  #mission
    :erb
      <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=115557825212107&amp;xfbml=1"></script><fb:like href="https://www.facebook.com/pages/Kioskfolio/104128096357940" send="false" width="450" show_faces="true" action="like" font=""></fb:like>
  
    %h2 Mission
    
    %p We want to help you make a living out of designing, developing and selling WordPress templates. Are you  a single WordPress author doing freelancing on the side, or you are a team of developers running a templating business? We are here for you.

    %p We want to make you happy by doing what you are passionate about, which is providing great themes and making your customers happy.
  #signup
    #signup_box
      %h3 Please help us shape our product
      
      %p We are looking for theme authors that would like to give us feedback and try our products. Want to help out? 

      %p Please follow or like us so we can send you a registration link.
      
      :erb
        <a href="http://twitter.com/kioskfolio" class="twitter-follow-button">Follow @kioskfolio</a>
        <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
  #vision
    %h2 Vision
    
    %h3 Awesome Customer Enagement
    
    
    %p Besides that we believe that everyone on this planet should be happy. We think that what is most important that you get to know your customers and make them happy. Happy customers spread the word about you, give you great feedback and will come back for more.

    %p Engaging with your customers and really listening to their feedback and wishes makes them a happy customers, even before they make buy their first template from you. We want to provide ways to engage with your customers better and more often.
    
    %h3 Your Brand is Important
    
    %p If you are in it for the long run, your brand as a theme author is so important for increasing sales and creating a lasting experience to get new customers or make your current customers spread the word about you. 

    %p We are going to provide tools and products to build your brand as a template author. We want to make you stand out from the rest by providing ways to increase your visibility and personal touch for customers.