/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

@import "blueprint/reset";
@import "compass";

body {
  font-family: "Helvetica", sans-serif;
  background-image: url(/assets/noise.png);
  @include text-shadow(#FFF, 0, 1px, 0);
}

#header {
  width: 960px;
  padding: 10px 0;
  margin: auto;
}

#tagline {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin: 30px 0;
}

.wrapper {
  @include clearfix;
}

#header_wrapper {
  @include box-shadow(#ddd, 0, 2px, 2px);
  @include background(linear-gradient(#518dbb, darken(#518dbb, 5%)));
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#content_wrapper {
  margin-top: 100px;
}

.container {
  width: 960px;
  margin: auto;
  min-height: 800px;
}

p {
  font-size: 18px;
  margin: 40px 0;
}

.center {
  text-align: center;
}

#beta_signup {
  width: 600px;
  margin-top: 20px;
  margin: auto;
  h2 {
    font-size: 20px;
    line-height: 1.5em;
    font-weight: bold;
    margin: 1em 0;
  }
  p.cta {
    text-align: center;
    margin: 40px 0;
  }
  p {
    line-height: 1.5em;
    margin: 1em 0;
    color: #444;
    em {
      color: #000;
      font-weight: 600;
    }
  }
}

#product {
  margin-top: 200px;
  margin-bottom: 100px;
  h2 {
    font-size: 40px;
    color: #666;
    @include text-shadow(#222, 0, -1px, 1px);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .benefits {
    background-color: #FFF; 
    @include border-radius;
    @include box-shadow(rgba(0,0,0,0.05), 0, 2px, 1px);
    border: 1px solid #eee;
  }
  .benefit {
    text-align: center;
    h3 {
      font-weight: bold;
      height: 40px;
      font-size: 18px;
      margin-bottom: 20px;
    }
    @include inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 20px;
    width: 280px;
    p {
      margin: 1em 0;
      text-align: left;
      line-height: 1.4em;
      font-size: 15px;
      color: #222;
    }
    &:first-child {
      margin-left: 20px;
    }
  }
}

#accordion {
  text-align: center;
  .problem {
    background-color: #FFF;
    width: 400px;
    @include inline-block;
    border: 1px solid #ddd;
    @include border-radius;
    margin-right: 30px;
    &:last-child, .last {
      margin-right: 0;
    };
    height: 300px;
    position: relative;
    @include box-shadow(rgba(0,0,0,0.05), 0, 2px, 2px);
  }
  margin-bottom: 10px;
  h2 {
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 100px;
    line-height: 1.5em;
    a {
      display: block;
      padding: 20px;
      text-decoration: none;
      color: #333;
      @include text-shadow(#FFF, 0, 1px, 0);
    }
    &:last-child {
      border-bottom: 0;
    };
    &.active {
      a {
        color: #000;
      }
      background: none;
      font-size: 18px;
      border-bottom: 1px solid lighten(#518dbb, 35%);
      &:last-child {
        border: 0;
      };
      &:hover {
        a {
          color: #000;
        }
      };
    }
    &:hover {
      a {
        color: #518dbb;
      }
    }

    @include linear-gradient(color-stops(#f0f0f0, #e0e0e0));
  }
  .element {
    padding: 10px;
    text-align: center;
  }
}

.learn_more {
  position: absolute;
  bottom: 30px;
  left: 90px;
}

p.center {
  text-align: center;
}

#to_product {
  margin-top: 60px;
  font-size: 20px;
}

#to_product .button {
  margin-left: 20px;
}

.button {
  @include border-radius(20px);
  border: 1px solid darken(#ec8500, 5%);
  @include background(linear-gradient(color-stops(lighten(#ec8500, 15%), #ec8500)));
  padding: 8px 14px;
  font-weight: bold;
  color: darken(#5e9a00, 30%);
  @include text-shadow(rgba(255,255,255,0.4), 0, 1px, 1px);
  text-decoration: none;
  @include box-shadow(#FFF,0,0,1px, false, inset);
  &:hover {
    @include background(linear-gradient(color-stops(lighten(#ec8500, 20%), lighten(#ec8500, 5%))));
  };
  &.large {
    font-size: 22px;
  }
}