/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

@import "blueprint/reset";
@import "compass";

body {
  font-family: "Lucida Grande", "Helvetica", sans-serif;
  background-image: url(/assets/noise.png);
  @include text-shadow(#FFF, 0, 1px, 0);
}

#header {
  width: 960px;
  padding: 10px 0;
  margin: auto;
  
  #logo {
    @include inline-block;
  }
}

#tagline {
  font-weight: bold;
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 20px;
    color: #333;
    font-weight: normal;
    padding-bottom: 10px;
    @include inline-block;
    span {
      font-weight: bold;
    }
  }
  text-align: center;
  margin: 10px 0;
}

.wrapper {
  @include clearfix;
}

.feature_images img {
  padding: 5px;
  background-color: #FFF;
  border: 1px solid #ccc;
  @include border-radius;
}

#header_wrapper {
  @include box-shadow(#ddd, 0, 2px, 2px);
  @include background(linear-gradient(#518dbb, darken(#518dbb, 5%)));
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#content_wrapper {
  border-top: 1px solid #eee;
  &.first {
    border-top: 0;
    margin-top: 100px;
  }
  &.product {
    background-color: rgba(0,0,0,0.02);
    @include box-shadow(#bbb, 0, 0px, 10px, false, inset);
    margin-bottom: 0;
  }
}

.container {
  width: 960px;
  margin: auto;
}

p {
  font-size: 18px;
  margin: 40px 0;
}

.center {
  text-align: center;
}

#beta_signup {
  width: 600px;
  margin-top: 20px;
  margin: auto;
  h2 {
    font-size: 20px;
    line-height: 1.5em;
    font-weight: bold;
    margin: 1em 0;
  }
  p.cta {
    text-align: center;
    margin: 40px 0;
  }
  p {
    line-height: 1.5em;
    margin: 1em 0;
    color: #444;
    em {
      color: #000;
      font-weight: 600;
    }
  }
}

#product, #signup {
  margin-bottom: 20px;
  h2 {
    font-size: 40px;
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .benefits {
    background-color: #FFF; 
    @include border-radius;
    @include box-shadow(rgba(0,0,0,0.05), 0, 2px, 1px);
    border: 1px solid #eee;
  }
  .benefit {
    h3 {
      font-size: 16px;
      margin-bottom: 20px;
      margin-top: 20px;
      font-weight: bold;
    }
    @include inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 20px;
    width: 295px;
    p {
      margin: 1em 0;
      line-height: 1.4em;
      font-size: 15px;
      color: #444;
    }
    img {
      border: 1px solid #ccc;
    }
    &:first-child {
      margin-left: 20px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  
  iframe, span {
    vertical-align: top;
  }
}

#accordion {
  text-align: center;
  .problem {
    background-color: #FFF;
    width: 400px;
    @include inline-block;
    border: 1px solid #ddd;
    @include border-radius;
    margin-right: 30px;
    &:last-child, .last {
      margin-right: 0;
    };
    height: 390px;
    position: relative;
    @include box-shadow(rgba(0,0,0,0.05), 0, 2px, 2px);
  }
  margin-bottom: 10px;
  .info {
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 150px;
    width: 100%;
    line-height: 1.5em;
    strong {
      font-size: 16px;
    }
    @include linear-gradient(color-stops(#f0f0f0, #e0e0e0));
    h2 {
      font-weight: bold;
      margin: 1em 10px;
      font-size: 18px;
    }
    p {
      font-weight: normal;
      font-size: 14px;
      margin: 10px 20px;
      text-align: left;
    }
  }
  .element {
    padding: 10px;
    text-align: center;
  }
}

#beta_invite {
  text-align: center;
  font-size: 11px;
  a {
    color: #888;
  }
}

.learn_more {
  position: absolute;
  bottom: 30px;
  left: 90px;
}

p.center {
  text-align: center;
}

#to_product {
  margin-top: 60px;
  font-size: 20px;
}

#to_product .button {
  margin-left: 20px;
}

.button {
  @include border-radius(20px);
  border: 1px solid darken(#ec8500, 5%);
  @include background(linear-gradient(color-stops(lighten(#ec8500, 15%), #ec8500)));
  padding: 8px 14px;
  font-weight: bold;
  color: darken(#5e9a00, 30%);
  @include text-shadow(rgba(255,255,255,0.4), 0, 1px, 1px);
  text-decoration: none;
  @include box-shadow(#FFF,0,0,1px, false, inset);
  &:hover {
    @include background(linear-gradient(color-stops(lighten(#ec8500, 20%), lighten(#ec8500, 5%))));
  };
  &.large {
    font-size: 22px;
  }
  &:disabled, &.disabled {
    @include background(linear-gradient(color-stops(lighten(#ec8500, 40%), lighten(#ec8500, 30%))));
    border-color: lighten(#ec8500, 30%);
    color: #666;
    &:hover {
      color: #000;
    }
  }
}

#mc_embed_signup {
  text-align: center;
  margin-bottom: 20px;
  .mc-field-group, .mc-submit-group {
    @include inline-block;
  }
  .mc-field-group {
    position: relative;
    height: 35px;
    background-color: #FFF;
    &.active {
      border-color: #555;
      @include box-shadow(#aaa, 0, 1px, 2px, false, inset);
      label {
        color: #bbb;
      }
    }
    width: 300px;
    @include box-shadow(#bbb, 0, 1px, 2px, false, inset);
    border: 1px solid #b0b0b0;
    label {
      position: absolute;
      top: 0;
      left: 0;
      @include inline-block;
      margin: 8px;
      font-size: 18px;
      cursor: text;
      z-index: 1;
      color: #666;
    }
    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 290px;
      padding: 5px;
      font-size: 18px;
      @include appearance(none);
      outline: none;
      border: 0;
      background: 0;
      z-index: 2;
    }
  }
  .mc-submit-group input {
    padding: 8px 14px;
    font-family: "Helvetica";
    margin-left: 20px;
    font-size: 18px;
    cursor: pointer;
    @include text-shadow(rgba(255,255,255,0.4), 0, 1px, 0);
  }
}