@import "compass/css3";

#menu {
  float: right;
  line-height: 60px;
  font-size: 18px;
  @include text-shadow(none);
  a {
    color: #FFF;
    @include text-shadow(rgba(0,0,0,0.2), 0, -1px, 0);
    text-decoration:none;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    margin: 0 10px;
  }
}